@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fafafa;
}

.setbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.setbody > div {
  max-width: 1440px;
  width: 100%;
  height: 100%;
}

/* COLORS OF TEXT */

.xgrey-400 {
  color: #98a2b3;
}

.xgrey-75 {
  color: #f7f9fc;
}

.xgrey-100 {
  color: #f0f2f5;
}

.xgrey-500 {
  color: #667185;
}

.xgrey-1000 {
  color: #4f4d55;
}

.xgrey-700 {
  color: #344054;
}

/* Text Colors Ending */

.paragraph-small {
  font-size: 14px;
  line-height: 145%;
}
.paragraph-xsmall {
  font-size: 12px;
  line-height: 145%;
}

.navbar-nav {
  font-weight: 600;
  display: flex;
  gap: 24px;
  align-items: center;
}

.navbar-nav > a {
  padding: 0 20px;
  display: block;
}

.navbar-nav .active {
  padding: 8px 20px;
  border-radius: 6px;
  background: #1d2739;
  color: #f7f9fc; /* grey 75*/
}

.sidebar-one-top {
  display: flex;
  flex-direction: column;
}

.sidebar-one-top > a {
  padding: 8px;
}

.sidebar-one-top .active {
  border-radius: 8px;
  background: #f0f2f5;
}

.nav-item-bg {
  padding: 8px;
  border-radius: 8px;
  background: #f0f2f5;
}

.nav-item-bg2 {
  padding: 10px;
  border-radius: 8px;
  background: #f0f2f5;
}

a {
  display: inline-block;
}

.side12 {
  height: calc(100vh - 92px);
  background: #fff;
  display: inline-flex;
  flex-direction: column;
  position: sticky;
}

.module-cont {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
}

.module-item {
  display: flex;
  gap: 80px;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  font-weight: 500;
  color: #667185;
}

.module-cont .active {
  color: #101928;
  background: #f7f9fc;
  font-weight: 600;
}

.module-cont .inactive {
  opacity: 0.3;
}

.nav-item-header {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.in-and-out {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  text-align: center;
}

.in-and-out > h5 {
  padding: 16px 0;
  font-weight: 500;
  border-bottom: 1px solid #e4e7ec;
}

.in-and-out .active {
  color: #f56630;
  border-bottom: 1px solid #f56630;
}

.search-and-filter {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  justify-items: center;
  column-gap: 12px;
}

.search-bar {
  margin: 12px 0;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #f0f2f5;
  background: #f9fafb;
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 4px;
}

input {
  outline: none;
}

.search-bar input {
  font-size: 16px;
  background: transparent;
  line-height: 20px;
}

.search-bar input::placeholder {
  color: #98a2b3;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.05px;
}

.inactive-saved-ideas {
  padding-top: 86px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inactive-saved-ideas h4 {
  color: #1d2739;
  font-weight: 600;
  line-height: 145%;
  padding-bottom: 8px;
}

.inactive-saved-ideas p,
.inactive-saved-ideas p span {
  color: #667185;
  font-size: 14px;
  display: block;
}

.inactive-saved-ideas a {
  color: #eb5017;
  font-weight: 600;
  padding-top: 24px;
}

.body-container {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
}

.side13 {
  display: grid;
  align-content: flex-start;
  row-gap: 16px;
  padding: 32px 40px;
}

.heading-h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  letter-spacing: -0.4px;
}

.rps {
  display: grid;
  row-gap: 8px;
  margin-top: 4px;
}

.rps > span {
  display: block;
}

.info-alert {
  border-radius: 4px;
  background: #e3effc;
  border-left: 6px solid #0d5eba;
  padding: 12px 8px;
  display: flex;
  gap: 8px;
}

.cont-container {
  border-radius: 10px;
  border: 1px solid #e4e7ec;
  background: #fff;
  padding: 24px;
  display: grid;
  align-content: flex-start;
  row-gap: 24px;
}

/* paragraph-small */
/* helper-text */
/* Input */
/* error */

.helper-text {
  color: #667185;
  font-size: 14px;
  line-height: 145%;
}

.red-base-text {
  font-weight: 500;
  color: #d42620;
}

.label-semibold {
  color: #101928;
  font-size: 14px;
  font-weight: 500;
  line-height: 145%;
}

.cont-container input {
  border-radius: 6px;
  background: var(--grey-50, #f9fafb);
}

.cont-container input:focus,
.cont-container select:focus {
  outline: 1px solid #fa9874;
}

.cont-container select {
  width: 100%;
  padding: 10px 12px;
  font-size: 15px;
  /* adding custom chevron down */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("/Images/svg/chevron-down3.svg") no-repeat !important;
  background-position: right 12px center !important;
}

.select-cont {
  background-color: #f9fafb;
  border-radius: 6px;
  border: 1px solid #e4e7ec;
}

.rps2 {
  display: grid;
  row-gap: 8px;
  align-content: flex-start;
}

.Input-cont input {
  background-color: #f9fafb;
  border-radius: 6px;
  border: 1px solid #e4e7ec;
  width: 100%;
  padding: 10px 12px;
}

.helper-text2 {
  margin-top: 2px;
  color: #667185;
  font-size: 12px;
  line-height: 145%;
}

.radio {
  width: 20px;
  height: 20px;
}

.step-label {
  font-weight: 700;
  line-height: 145%;
  letter-spacing: 0.08px;
  color: #f56630;
}

.blue-under {
  color: #1671d9;
  text-decoration: underline;
  font-weight: 400;
}
