@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollabr {
  scrollbar-width: 0px;
  scrollbar-color: transparent;
}
.scrollabr::-webkit-scrollbar {
  background-color: transparent;
  width: 0px;
}
.scrollabr::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.scrollabr::-webkit-scrollbar-track {
  background-color: transparent;
}

.navbar-nav .active {
  padding: 8px 20px;
  border-radius: 6px;
  background: rgba(255,255,255, 0.1);
  color: #f7f9fc; /* grey 75*/
}

.sidebar-one-top .active {
  border-radius: 8px;
  background: #f0f2f5;
}

.module-cont .active,
.sidebar-is-active {
  color: #101928;
  background: #f0f2f5;
  font-weight: 600;
}

.in-and-out .active {
  color: #F29408;
  border-bottom: 1px solid #F29408;
}
.s2mit.active,
.s4mit.active,
.s3mit.active {
  border: 1px solid #d0d5dd;
}

.s2mit .second,
.s2mit .third,
.s4mit .second,
.s4mit .third,
.s3mit .second,
.s3mit .third {
  display: none;
}

.s4mit .fourth {
  display: none;
}

.s4mit.active .fourth,
.s4mit.selected .fourth {
  display: flex;
}

.s2mit.active .second,
.s2mit.active .third,
.s4mit.active .second,
.s4mit.active .third,
.s3mit.active .second,
.s3mit.active .third {
  display: flex;
}

.s2mit.active .s2mit-text,
.s4mit.active .s4mit-text,
.s3mit.active .s2mit-text {
  display: none;
}

.s2mit.active .s2mit-rotate,
.s4mit.active .s2mit-rotate,
.s3mit.active .s2mit-rotate {
  transform: rotate(-180deg);
}

#sas.active {
  display: flex;
}

#esas.active {
  display: flex;
}

#esas-field.active {
  display: flex;
}

.roshash {
  transform: rotate(180deg);
}

.rotate-effect {
  transition: transform 0.4s ease;
}


.modhov:hover {
  cursor: pointer;
  background: #f7f9fc;
  border-radius: 4px;
}

.clipText {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.saved-asset-item.selected {
  border: 1px solid #c6ddf7;
  background: #edf4fd;
}

.error {
  background-image: url('/Images/svg/error.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  @apply  ring-2 focus:ring-2 focus:ring-[#E26E6A] ring-[#E26E6A] focus:border-transparent focus:outline-0 border-[1px] border-transparent bg-[#f9fafb] focus:outline-[#E26E6A] outline-none 
}

#mobile-navbar.active {
  display: grid;
}

#modules-popup.active {
  display: flex;
}

.expanded {
  max-height: 0;
}